<% include ../partials/header %>

<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>Welcome to CannaReviews</h1>
      <p>View our most popular strains</p>
      <p>
        <a class="btn btn-primary btn-lg" href="/strains/new">Add New Strain</a>
      </p>
      <p>
        <form action="/strains" method="GET" class="form-inline pull-right">
          <div class="form-group">
            <input type="text" name="search" placeholder="Find a strain..." class="form-control">
            <input type="submit" value="Search" class="btn btn-default">
          </div>
        </form>
      </p>
    </div>
  </header>
  
  <div class="row text-center" style="display: flex; flex-wrap: wrap;">
    <div class="col-md-12">
      <% if(noMatch !== undefined) { %>
        <h3>
          <%= noMatch %>
        </h3>
      <% } %>
    </div>
    <% strains.forEach(function(strain){ %>
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <a href="/strains/<%= strain._id %>">
            <img src="<%= strain.image %>">
          </a>
          <div class="caption">
            <h4><a href="/strains/<%= strain._id %>"><%= strain.name %></a></h4>
          </div>
        </div>
      </div>
    <% }); %>
  </div>
</div>
  

<% include ../partials/footer %>