<% include ../partials/header %>

<div class="container row-reverse">
  <div class="row">
    <div class="col-md-9">
      <div class="thumbnail">
        <img class="img-responsive" src="<%= strain.image %>">
        <div class="caption">
          <h4 class="pull-right"><%= strain.type %></h4>
          <h4><a><%= strain.name %></a></h1>
          <p><%= strain.description%></p>
          <p>
            <em>Submitted by: <%= strain.author.username %>, <%= moment(strain.createdAt).fromNow() %></em>
          </p>
        </div>
        <% if(currentUser && strain.author.id.equals(currentUser._id)) { %>
          <a class="btn btn-primary btn-xs" href="/strains/<%= strain._id %>/edit">Edit</a>
          <form class="delete-form" action="/strains/<%= strain._id %>?_method=DELETE" method="POST">
            <button class="btn btn-default btn-xs">Delete</button>
          </form>
        <% } %>
      </div>
      <div class="well">
        <div class="text-right">
          <a class="btn btn-primary" href="/strains/<%= strain._id %>/comments/new">Add New Comment</a>
        </div>
        <hr>
          <% strain.comments.forEach(function(comment){ %>
          <div class="row">
            <div class="col-md-12">
              <strong><%= comment.author.username %></strong>
              <span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
              <p><%= comment.text %></p>
              <!--<% if(currentUser && comment.author.id.equals(currentUser._id)) { %>-->
              <!--  <a class="btn btn-xs btn-warning" -->
              <!--    href="/strains/<%= strain._id %>/comments/<%= comment._id %>/edit">-->
              <!--    Edit-->
              <!--  </a>-->
              <!--  <form class="delete-form" action="/strains/<%= strain._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">-->
              <!--    <input type="submit" class="btn btn-xs btn-danger" value="Delete">-->
              <!--  </form> -->
              <!--<% } %>-->
            </div>
          </div>
          <% }); %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="well">
        <p class="lead">Other strains you may like...</p>
        <div class="list-group">
          <div class="thumbnail">
            <a href="/strains/5a8be9da084bd5001454cc88">
              <div class="thumb-fixed-height">
                <img src="https://res.cloudinary.com/kzipfel/image/upload/v1519108277/jcbwwmnc9myxnuc2yu4t.jpg">
              </div>
            </a>
            <div class="caption">
              <h4><a href="/strains/5a8be9da084bd5001454cc88">Green Crack</a></h4>
            </div>
          </div>
          <div class="thumbnail">
            <a href="/strains/5a8bc109a1ad8b0014fd6898">
              <div class="thumb-fixed-height">
                <img src="https://res.cloudinary.com/kzipfel/image/upload/v1519108361/biugtfx1augqlnzt7jpd.jpg">
              </div>
            </a>
            <div class="caption">
              <h4><a href="/strains/5a8bc109a1ad8b0014fd6898">OG Kush</a></h4>
            </div>
          </div>
          <div class="thumbnail">
            <a href="/strains/5a8bdcc186cdd90de9fee1c4">
              <div class="thumb-fixed-height">
                <img src="https://res.cloudinary.com/kzipfel/image/upload/v1519115456/mqyzlmxos9wwcu82bjgz.jpg">
              </div>
            </a>
            <div class="caption">
              <h4><a href="/strains/5a8bdcc186cdd90de9fee1c4">Blue Dream</a></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<% include ../partials/footer %>