<% include ../partials/header %>

<h1><%= strain.name %></h1>

<img src="<%= strain.image %>">

<p><%= strain.description%></p>

<p>
  <a class="btn btn-success" href="/strains/<%= strain._id %>/comments/new">Add New Comment</a>
</p>

<% strain.comments.forEach(function(comment){ %>
  <p>
    <strong><%= comment.author %></strong> - <%= comment.text %>
  </p>
<% }); %>

<% include ../partials/footer %>